.homepage-container {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.homepage-header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

.homepage-content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.homepage-card {
    background: #16081d;
    border: 1px solid #2d2338;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.homepage-footer {
    margin-top: 20px;
    color: #777;
}
